* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #030d28;
}

ul {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card-item {
    position: relative;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100px;
    border-radius: 100px;
    overflow: hidden;
    filter: grayscale(80%);
    transition: 2s;
}

.card-item img {
    object-fit: cover;
    object-position: center;
}

.card-item span {
    position: absolute;
    bottom: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #030d28;
    transition: 1s;
}

.card-item span:hover {
    cursor: pointer;
    background: #030d28;
    color: #ffffff;
}

.card-item i {
    font-size: 30px;
}

.expand {
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px #44ddff, 
        0 0 50px #44ddff;
    filter: grayscale(0);
}

@media screen and (max-width: 600px) {
    body {
        height: 100%;
        width: 880px;
    }
}